* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 20% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180, 227, 227);
}

.grid-container {
  width: 500px;
  height: 500px;
  border: solid 3px black;
}
